$vert: #99cc00;
$mobile: "(max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* toute la hauteur du viewport */
  padding: 0px;
  margin: 0px;
}
header {
  color: white;
  background-color: grey;
  margin-bottom: 1em;
  padding: 0.8em;
}
.flottant {
  position: absolute;
  bottom: -25px;
  right: 24px;
}
.cadre {
  border-style: solid;
  border-color: red;
}
.match {
  .info {
    border: 1px;
    .organisateur {
      font-size: 1em;
      font-weight: bold;
    }
    .date {
      font-size: 0.75em;
    }
  }
}
#tableau {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px;
  border-style: solid;
  border-color: back;
  height: 300px;
  //height: 60%;
  background: #232730 url(/img/stade-basket.jpg) repeat scroll 0 0;
  background-color: tan;
  @mixin element {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .equipe {
    @include element;
    cursor: pointer;
      user-select: none;
    @media #{$mobile} {
       font-size: 1em;
    }
    font-size: 3em;
    color: white;
    flex: 2;
    .blason {
      width: 60%;
      height: 40%;
      max-width: 110px;
      //background-image: url(/public/img/ffbb-150-alt.png);
    }
  }
  #marque {
    flex-direction: column;
    @include element; 
    flex: 1;
    @media #{$mobile} {
      font-size: 1.5em;
    }
    font-size: 2.5em;
    #periodes {
      @media #{$mobile} {
        font-size: 0.5em;
      }
      display:flex;
      flex-direction: row;
      justify-content: space-around;
      min-width: 8em;
      margin-bottom: 0.5em;
      .periode {
        color: white;
        padding: 5px;
        margin: 10px;
      }
    }
    #compteurs {
      @media #{$mobile} {
        padding: 0.4em;
        min-width: 2em;
      }
      display:flex;
      flex-direction: row;
      justify-content: center;
      color: black;
      font-weight: bold;
      user-select: none;
      border-radius: 10%;
      background-color: white;
    }
  }
}
footer {
  color: white;
  background-color: grey;
  //margin-top: 1em;
  padding: 0.8em;
  #info{
    display: flex;
    justify-content: flex-end;
  }
}
