body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* toute la hauteur du viewport */
    padding: 0px;
    margin: 0px;
}

header {
    color: white;
    background-color: grey;
    margin-bottom: 1em;
    padding: 0.8em;
}

.flottant {
    position: absolute;
    bottom: -25px;
    right: 24px;
}

.cadre {
    border-style: solid;
    border-color: red;
}

.match .info {
    border: 1px;
}

.match .info .organisateur {
    font-size: 1em;
    font-weight: bold;
}

.match .info .date {
    font-size: 0.75em;
}

#tableau {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px;
    border-style: solid;
    border-color: back;
    height: 300px;
    background: #232730 url(./rencontre/stade-basket.jpg) repeat scroll 0 0;
    background-color: tan;
}

#tableau .equipe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: default;
    user-select: none;
    font-size: 3em;
    color: white;
    flex: 2;
}

@media (max-width: 767px) {
    #tableau .equipe {
        font-size: 1em;
    }
}

#tableau .equipe .joueuse {
    font-size: 1em;
    text-align: center;
    min-width: 2em;
    margin: 0.2em;
    -webkit-appearance: none;
    -moz-appearance: none;
}

#tableau .equipe .blason {
    width: 60%;
    height: 40%;
    max-width: 110px;
}

#tableau .equipe .verrouille {
    cursor: default;
}

#tableau #marque {
    flex-direction: column;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    font-size: 2.5em;
}

@media (max-width: 767px) {
    #tableau #marque {
        font-size: 1.5em;
    }
}

#tableau #marque #periodes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-width: 8em;
    margin-bottom: 0.5em;
}

@media (max-width: 767px) {
    #tableau #marque #periodes {
        font-size: 0.5em;
    }
}

#tableau #marque #periodes .periode {
    color: white;
    padding: 5px;
    margin: 10px;
}

#tableau #marque #termine {
    font-size: 0.6em;
    color: white;
    background-color: red;
    border-color: white;
    border-style: solid;
    border-width: 1px;
    padding: 4px;
    padding-left: 6px;
    padding-right: 6px;
}

#tableau #marque #compteurs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: black;
    font-weight: bold;
    user-select: none;
    border-radius: 10%;
    background-color: white;
}

@media (max-width: 767px) {
    #tableau #marque #compteurs {
        padding: 0.4em;
        min-width: 2em;
    }
}

footer {
    color: white;
    background-color: grey;
    padding: 0.8em;
}

footer #info {
    display: flex;
    justify-content: flex-end;
}