.rencontre {
    display: flex;
}

.rencontre:first-child
{
    flex-grow: 2;
    color: red;
    flex: 1;
}

.it-rencontre
{
    flex-grow: 2;
}

.style-rencontre {
    text-decoration: none;
}

#bouton-plus {
    margin-right: 20;
}